/* imagenes de fondo */
.coffe-and-writer{
    background-image:url("../img/coffee-and-writing.jpg");   
}

.coffe-blog{
    background-image:url("../img/Coffee-Blog.png");   
}

.escritor-terror{
    background-image:url("../img/escritor-terror.jpg");   
}

.pluma-tintero{
    background-image:url("../img/escritura-pluma-tintero.jpg");   
}

.letras-explosion{
    background-image:url("../img/letras-explosion.jpg");   
}

.libreta-escritura{
    background-image:url("../img/libreta-escritura.jpg");   
}

.libro-cafe{
    background-image:url("../img/libro-cafe.jpg");   
}

.libro-lentes{
    background-image:url("../img/libro-lentes.jpg");   
}

.libro-lentes2{
    background-image:url("../img/libro-lentes2.jpg");   
}

.libros-flotando-espacio{
    background-image:url("../img/libros-flotando-espacio.jpg");   
}

.pluma-multicolor{
    background-image:url("../img/pluma-multicolor.jpg");   
}

.pluma-tintero{
    background-image:url("../img/pluma-tintero.png");   
}

.pluma-trazo-tinta{
    background-image:url("../img/pluma-trazo-tinta.png");   
}

.plumas-escritura{
    background-image:url("../img/plumas-escritura.png");   
}

.escritorio-capuccino{
    background-image:url("../img/writers-desk-with-cappuccino.jpg");   
}

/* texturas */
.five-dots{
    background-image:url("../resources/texturas/5-dots.png");
}

.beanstalk-dark{
    background-image:url("../resources/texturas/beanstalk-dark.png");
}

.bush{
    background-image:url("../resources/texturas/bush.png");
}

.canadian-dollar{
    background-image:url("../resources/texturas/canadian-dollar.png");
}

.checkerboard-cross{
    background-image:url("../resources/texturas/checkerboard-cross.png");
}

.chevron{
    background-image:url("../resources/texturas/chevron.png");
}

.christmas-colour{
    background-image:url("../resources/texturas/christmas-colour.png");
}

.christmas-dark{
    background-image:url("../resources/texturas/christmas-dark.png");
}

.circle-blues{
    background-image:url("../resources/texturas/circle-blues.png");
}

.connectwork{
    background-image:url("../resources/texturas/connectwork.png");
}

.criss-cross{
    background-image:url("../resources/texturas/criss-cross.png");
}

.crissXcross{
    background-image:url("../resources/texturas/crissXcross.png");
}

.crissXcross-2X{
    background-image:url("../resources/texturas/crissXcross_@2X.png");
}

.crissXcross-2X{
    background-image:url("../resources/texturas/crissXcross_@2X.png");
}

.dark_wood{
    background-image:url("../resources/texturas/dark_wood.png");
}

.dark_wood_2X{
    background-image:url("../resources/texturas/dark_wood_@2X.png");
}

.darkness{
    background-image:url("../resources/texturas/darkness.png");
}

.diagonal-squares{
    background-image:url("../resources/texturas/diagonal-squares.png");
}

.doodles{
    background-image:url("../resources/texturas/doodles.png");
}

.double-bubble-dark{
    background-image:url("../resources/texturas/double-bubble-dark.png");
}

.dust_scratches{
    background-image:url("../resources/texturas/dust_scratches.png");
}

.email-pattern{
    background-image:url("../resources/texturas/email-pattern.png");
}

.embossed-diamond{
    background-image:url("../resources/texturas/embossed-diamond.png");
}

.fancy-cushion{
    background-image:url("../resources/texturas/fancy-cushion.png");
}

.fishnets-and-hearts{
    background-image:url("../resources/texturas/fishnets-and-hearts.png");
}

.full-bloom{
    background-image:url("../resources/texturas/full-bloom.png");
}

.gaming-pattern{
    background-image:url("../resources/texturas/gaming-pattern.png");
}

.geometric-leaves{
    background-image:url("../resources/texturas/geometric-leaves.png");
}

.greek-vase{
    background-image:url("../resources/texturas/greek-vase.png");
}

.herringbone{
    background-image:url("../resources/texturas/herringbone.png");
}

.hotel-wallpaper{
    background-image:url("../resources/texturas/hotel-wallpaper.png");
}

.hotel-wallpaper-black{
    background-image:url("../resources/texturas/hotel-wallpaper-black.png");
}

.hypnotize{
    background-image:url("../resources/texturas/hypnotize.png");
}

.ignasi_pattern_s{
    background-image:url("../resources/texturas/ignasi_pattern_s.png");
}

.intersection{
    background-image:url("../resources/texturas/intersection.png");
}

.leaves-pattern{
    background-image:url("../resources/texturas/leaves-pattern.png");
}

.let-there-be-sun{
    background-image:url("../resources/texturas/let-there-be-sun.png");
}

.light-grey-terrazzo{
    background-image:url("../resources/texturas/light-grey-terrazzo.png");
}

.light-veneer{
    background-image:url("../resources/texturas/light-veneer.png");
}

.lilypads{
    background-image:url("../resources/texturas/lilypads.png");
}

.lined_paper{
    background-image:url("../resources/texturas/lined_paper.png");
}

.lined_paper_2X{
    background-image:url("../resources/texturas/lined_paper_@2X.png");
}

.memphis-colorful{
    background-image:url("../resources/texturas/memphis-colorful.png");
}

.more-leaves{
    background-image:url("../resources/texturas/more-leaves.png");
}












.wood{
    background-image:url("../resources/texturas/wood_1.png");
}
.tileable-wood{
    background-image:url("../resources/texturas/tileable_wood_texture.png");
}
.sun-pattern{
    background-image:url("../resources/texturas/sun-pattern.png");
}